.board {
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--app-background);
  border: var(--canvas-background) solid 2px;
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 0;
  top: 0;
  isolation: isolate;
}

.container {
  position: relative;
  width: var(--width);
  height: var(--height);
}

/* Icon button */

.button {
  --fill: var(--app-background);
  width: var(--width);
  height: var(--height);
  border-radius: 50%;
  background-color: rgba(30, 30, 30, 0.3);
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  left: 2px;
  top: 2px;
  opacity: 0;
  transition: fill, opacity 0.2s ease-in-out;
}

.button svg {
  --width: 50px;
  --height: 50px;
  width: var(--width);
  height: var(--height);
  fill: var(--fill);
}

:where(:hover, :focus).button {
  opacity: 1;
}
