.form {
  --gap: 1rem;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: var(--gap);
}

.form > label {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
}

.form input:not([type="checkbox"]),
.form textarea {
  border: none;
  padding: 8px;
  margin: 8px;
  width: min-content;
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: white;
  appearance: none;
}

/* The slider itself */
.form input.slider {
  direction: rtl;
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  padding: 0;
  margin: 0;
  width: 200px; /* Full-width */
  border-radius: 25px; /* Rounded border */
  height: 29px;
  border-radius: 15px;

  border: var(--canvas-background) solid 2px;
  background: var(--app-background);
  color: var(--canvas-background);
  -webkit-transition: 0.4s; /* 0.2 seconds transition on hover */
  transition: all 0.4s ease-in-out; /* 0.2 seconds transition on hover */
  display: block;
  position: relative;
}

.form input.slider::after {
  counter-increment: value var(--value);
  content: counter(value);
  position: absolute;
  left: 121%;
  top: 20%;
  color: var(--canvas-background);
  font-size: 14px;
}

.form input.slider::before {
  direction: ltr;
  content: "500/";
  position: absolute;
  left: 105%;
  top: 20%;
  color: var(--canvas-background);
  font-size: 14px;
}

/* Mouse-over effects */
.form input.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  cursor: pointer;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 50%;
  width: 24px; /* Set a specific slider handle width */
  height: 24px; /* Slider handle height */
  background: var(--canvas-background); /* Green background */
  border: var(--app-background) solid 2%; /* White border */
  cursor: pointer; /* Cursor on hover */
  position: relative;
  margin-left: 1px;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: var(--app-background);
  cursor: pointer; /* Cursor on hover */
}

span.checkmark {
  position: relative;
  width: 60px;
  height: 29px;
  border-radius: 15px;
  border: var(--canvas-background) solid 2px;
  background: var(--app-background);
  color: var(--canvas-background);
  transition: all 0.3s;
  cursor: pointer;
}

span.checkmark:last-child::before,
span.checkmark:last-child::after {
  content: "";
  position: absolute;
}

span.checkmark:last-child::before {
  left: 0.5px;
  top: 0.5px;
  width: 24px;
  height: 24px;
  background: var(--app-background);
  border: var(--canvas-background) solid 2px;
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.3s;
}

input[type="checkbox"] {
  display: none;
}

span.checkmark.checkmark::after {
  top: 50%;
  right: 8px;
  width: fit-content;
  height: fit-content;
  transform: translateY(-50%);
  content: "OFF";
  font-size: 10.5px;
}

input[type="checkbox"]:checked + label span.checkmark::before {
  border-color: var(--app-background);
  background: var(--canvas-background);
  transform: translateX(110%);
}

input[type="checkbox"]:checked + label span.checkmark::after {
  content: "ON";
  color: var(--canvas-background);
  transform: translateX(-50%), translateY(-50%);
  left: 7px;
}

input[type="checkbox"]:checked + label span.checkmark {
  background: var(--app-background);
}
