.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--app-background);
  gap: 1rem;
  max-height: 100vh;
  overflow: hidden;
}

.App-header {
  display: flex;
  flex-direction: row;
  width: var(--width);
  position: relative;
  justify-content: center;
}

.App-header h2 {
  margin-right: auto;
}

.App-header > * {
  margin: 0;
}

.icon {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
}

.icon img {
  width: 25px;
  height: 25px;
}
