.App {
  text-align: center;
  display: grid;
  place-content: center;
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--app-background);
}

.App-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  justify-content: center;
}

.icon {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
}

.icon img {
  margin: auto;
}
