:root {
  --color-primary: #00bcd4;
  --color-secondary: #ff0000;
  --canvas-background: #202124;
  --app-background: #fff;
  --font-color: #202124;
  --color-line: black;
  --width: min(90vw, 550px);
  --height: var(--width);
}

body {
  margin: 0;
  font-family: "Work Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
