:root {
  --color-primary: #202124;
  --color-secondary: #ff0000;
  --canvas-background: #fafafa;
  --app-background: #202124;
  --font-color: #fff;
  --width: min(90vw, 550px);
  --height: var(--width);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
